<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Static/css/index.css">
    <title>EasySleep</title>
</head>
<body>
    <header>
        <!--BARRA DE MENU-->
        <div class="Contenedor-menu">
            <div class="Barra-Menu">
                <nav>
                    <ul>
                        <li><p>EasySleep Hotel</p></li>
                        <li><a href="index.html">INICIO</a></li>
                        <li><a href="/Templates/html/register.html">REGISTRO CLIENTE</a></li>
						<li><a href="/Templates/html/reserva.html">RESERVA</a></li>
                        <li><a href="/Templates/html/rooms.html">HABITACIONES</a></li>
						<li><a href="/Templates/html/events.html">EVENTOS</a></li>
                        <li><a href="/Templates/html/contact.html">CONTACTO</a></li>
                    </ul>
                </nav>    
            </div>
        </div>
    </header>
    <main>
        <section>
            <!--Caja contenedora del slider, titulo y boton-->
            <div class="Boxconteiner_section1">
                <div class="slider-box">
                    <ul>
                        <li>
                            <div class="contenedor-opacidad">
                            <img src="/Static/img/slider1.jpg" alt="Imagen" class="imagen-opaca"><div class="capa-opacidad"></div></div>
                            <div class="text">
                                <h2>Bienvenido a EasySleep</h2>
                                <p>
                                    Descubre el arte de dormir bien, donde el lujo y la tranquilidad se unen para crear una experiencia
                                    de hospedaje inolvidable
                                </p>
                                <a href="/Templates/html/register.html"><button class="btn_1">¡Haz tu reserva ahora!</button></a> 
                            </div>
                        </li>
                        <li>
                            <div class="contenedor-opacidad">
                            <img src="/Static/img/slider2.jpg" alt="Imagen" class="imagen-opaca"><div class="capa-opacidad"></div></div>
                            <div class="text">
                                <h2>Bienvenido a EasySleep</h2>
                                <p>
                                    Descubre el arte de dormir bien, donde el lujo y la tranquilidad se unen para crear una experiencia
                                    de hospedaje inolvidable
                                </p>
                                <a href="/Templates/html/register.html"><button class="btn_1">¡Haz tu reserva ahora!</button></a>
                            </div>
                        </li>
                        <li>
                            <div class="contenedor-opacidad">
                            <img src="/Static/img/slider3.jpg" alt="Imagen" class="imagen-opaca"><div class="capa-opacidad"></div></div>
                            <div class="text">
                                <h2>Bienvenido a EasySleep</h2>
                                <p>
                                    Descubre el arte de dormir bien, donde el lujo y la tranquilidad se unen para crear una experiencia
                                    de hospedaje inolvidable
                                </p>
                                <a href="/Templates/html/register.html"><button class="btn_1">¡Haz tu reserva ahora!</button></a>
                            </div>
                        </li>
                        <li>
                            <div class="contenedor-opacidad">
                            <img src="/Static/img/prueba6.jpg" alt="Imagen" class="imagen-opaca"><div class="capa-opacidad"></div></div>
                            <div class="text">
                                <h2>Bienvenido a EasySleep</h2>
                                <p>
                                    Descubre el arte de dormir bien, donde el lujo y la tranquilidad se unen para crear una experiencia
                                    de hospedaje inolvidable
                                </p>
                                <a href="/Templates/html/register.html"><button class="btn_1">¡Haz tu reserva ahora!</button></a>
                            </div>
                        </li>
                    </ul>
                 </div>
            </div>
        </section>
        <section>
            <!--Seccion de Habitaciones. Tarjetas de las habitaciones con su botones.-->
            <div class="Boxconteiner_section2">
                <div class="line">
                    <h2 id="rooms">Habitaciones</h2></div>
                <div>
                    <br>
                    <p id="description"><strong>¡Bienvenido a EasySleep, donde el confort y la elegancia se encuentran para ofrecerte una experiencia inolvidable en cada una de nuestras habitaciones!</strong>
                        <br>
                        <br>
                        Cada rincón de nuestras espaciosas y exquisitamente diseñadas habitaciones ha sido cuidadosamente pensado para garantizar tu máximo bienestar durante tu estancia con nosotros.
                        <br>
                        <br>
                        Ya sea que estés aquí por negocios o por placer, en EasySleep nos esforzamos por superar tus expectativas y asegurarnos de que tengas una estancia inolvidable. Esperamos que disfrutes al máximo de tu tiempo con nosotros y que te lleves contigo recuerdos maravillosos de tu experiencia en nuestro hotel. ¡Bienvenido a EasySleep, tu hogar lejos de casa!
                        </p>
                </div>
                <div class="card-container"> 
                    <script src="https://kit.fontawesome.com/96ca335d68.js" crossorigin="anonymous"></script>
                    <div class="card">
                        <img src="/Static/img/doble.jpg">
                        <div class="card-content">
                            <h3>Single | Doble</h3>
                            <p><i class="fa-solid fa-tv"></i> TV de pantalla plana <i class="fa-regular fa-snowflake"></i> Aire acondicionado
                                <i class="fa-solid fa-utensils"></i> Minibar <i class="fa-solid fa-temperature-high"></i> Calefaccion <i class="fa-solid fa-wifi"></i> WI-FI gratis</p>
                            <a href="/Templates/html/rooms.html" class="btn_2">Ver Más</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/Static/img/doble-twin1.jpg">
                        <div class="card-content">
                            <h3>Doble Twin</h3>
                            <p><i class="fa-solid fa-tv"></i> TV de pantalla plana <i class="fa-regular fa-snowflake"></i> Aire acondicionado
                                <i class="fa-solid fa-utensils"></i> Minibar <i class="fa-solid fa-temperature-high"></i> Calefaccion <i class="fa-solid fa-wifi"></i> WI-FI gratis</p>
                            <a href="/Templates/html/rooms.html" class="btn_2">Ver Más</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/Static/img/triple.jpg">
                        <div class="card-content">
                            <h3>Triple</h3>
                            <p><i class="fa-solid fa-tv"></i> TV de pantalla plana <i class="fa-regular fa-snowflake"></i> Aire acondicionado
                                <i class="fa-solid fa-utensils"></i> Minibar <i class="fa-solid fa-temperature-high"></i> Calefaccion <i class="fa-solid fa-wifi"></i> WI-FI gratis</p>
                            <a href="/Templates/html/rooms.html" class="btn_2">Ver Más</a>
                        </div>
                    </div>
            
                </div>
                

            </div>
        </section>
        <section>
            <!--Seccion de Servicios-->
            <div class="Boxconteiner_section3">
                <div class="line">
                    <h2 id="services">Servicios</h2>
                </div>
                    <div class="description-service">
                        <p><strong>¡Bienvenido a nuestra sección de servicios, donde transformamos tus necesidades en soluciones tangibles y efectivas!</strong><br><br> En este espacio dedicado a satisfacer tus demandas, nos comprometemos a brindarte una gama diversa de servicios diseñados para superar tus expectativas.</p>
                    </div>
                    <div class="container-service">
                        <div class="card-service">
                                <img src="/Static/img/spa 2.jpg" alt="">
                                <div class="card-content-service">
                                    <h3>Armonia Zen Spa</h3><br>
                                    <h4>Encuentra tu equilibrio interior en un oasis de serenidad.</h4><br>
                                    <p>Armonía Zen Spa es un refugio tranquilo diseñado para proporcionar una experiencia relajante y equilibrada. Inspirado en la filosofía Zen, este spa ofrece un ambiente sereno donde los clientes pueden encontrar paz interior y renovación. Con una variedad de servicios de bienestar, desde masajes hasta meditación guiada, Armonía Zen Spa busca promover el equilibrio entre el cuerpo, la mente y el espíritu, permitiendo a los visitantes desconectar del estrés diario y conectar con su ser interior en un ambiente de armonía y serenidad.</p> <br>
                                </div>
                        </div>
                    </div>
                    <div class="container-service">
                        <div class="card-service">
                                <img src="/Static/img/restaurante 3.jpg" alt="">
                                <div class="card-content-service">
                                    <h3>EasyEats</h3><br>
                                    <h4>¡Bienvenido al sabor que cautiva tus sentidos en nuestro restaurante!</h4><br>
                                    <p>Sumérgete en una experiencia culinaria única donde la pasión por la buena comida se fusiona con un ambiente acogedor y un servicio excepcional. En cada plato, encontrarás una cuidadosa selección de ingredientes frescos y sabores auténticos, preparados con maestría por nuestros talentosos chefs. Desde los clásicos de siempre hasta las creaciones innovadoras, cada bocado te transportará a un viaje gastronómico inolvidable.</p> <br>
                                    
                                </div>
                        </div>
                    </div>
                    <div class="container-service">
                        <div class="card-service">
                                <img src="/Static/img/gym 2.jpg" alt="">
                                <div class="card-content-service">
                                    <h3>PowerPulse Gym</h3><br>
                                    <h4>¡Bienvenido a PowerPulse Gym, tu destino definitivo para alcanzar tus metas de fitness y bienestar!</h4><br>
                                    <p>En nuestro gimnasio, fusionamos pasión y compromiso para crear un espacio donde la energía fluye sin límites y los sueños se convierten en realidad. Desde los entusiastas del fitness hasta los atletas de élite, todos encontrarán un ambiente acogedor y motivador para superar sus límites y alcanzar su máximo potencial. Con equipos de vanguardia, entrenadores expertos y una variedad de clases emocionantes, estamos aquí para acompañarte en cada paso de tu viaje hacia una vida más saludable y activa.</p> <br>
                                    <!--<div class="boton01"><a href="#modalServicios" class="btn_2" id="myBtn">Consulta</a></div>-->
                                </div>
                        </div>
                    </div>
                    <div class="boton01"><a href="#modalServicios" class="btn_3" id="myBtn">Consulta</a></div>
            </div>
             <!-- Ventana Modal (emergente) Consulta -->
            <div id="modalServicios" class="modal">
                <div class="modal-content">
                    <span class="close">x</span>
                    <h2>Consulta de Servicios del Hotel</h2>
                    <form id="MiFormulario" method="post">
                        <label for="nombre">Tu Nombre:</label>
                        <input type="text" id="nombre" name="nombre" required>
                
                        <label for="email">Tu Correo Electrónico:</label>
                        <input type="email" id="email" name="email" required>
                
                        <label for="servicio">Selecciona el servicio sobre el que deseas información:</label>
                        <select id="servicio" name="servicio">
                            <option value="restaurante">Restaurante</option>
                            <option value="spa">Spa</option>
                            <option value="gimnasio">Gimnasio</option>
                            <!-- Añade más opciones según los servicios del hotel -->
                        </select>
                
                        <label for="mensaje">Tu Mensaje:</label>
                        <textarea id="mensaje" name="mensaje" rows="4" placeholder="Escribe aquí cualquier pregunta específica que tengas..."></textarea>
                
                        <input type="submit" value="Enviar Consulta">
                    </form>
                </div>       
            </div>
            <script src="/Templates/javaScript/VentanaModal.js"></script>
        </section>
    </main>
    <footer>
        <script src="https://kit.fontawesome.com/96ca335d68.js" crossorigin="anonymous"></script>
       <div class="container-footer">
            <div class="footer-content">
                <h3>Contactanos</h3>
                <p>Email: EasySleephotel&resort@gmail.com.ars</p>
                <p>Telf: 2233838474</p>
                <p>Direccion: yyyyyyy 234 </p>
            </div>
            <div class="footer-content">
                <h3>EasySleep</h3>
                <ul class="list">
                        <li><a href="index.html">INICIO</a></li>
                        <li><a href="./templates/registrer.html">REGISTRO CLIENTE</a></li>
						<li><a href="./templates/reserva.html">RESERVA</a></li>
                        <li><a href="./templates/rooms.html">HABITACIONES</a></li>
						<li><a href="./templates/events.hmtl">EVENTOS</a></li>
                        <li><a href="./templates/contact.html">CONTACTO</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <h3>Siguenos en</h3>
                <ul class="social-icons">
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
       </div>
       <div class="bottom-bar">
            <p>&copy; 2024 EasySleep Hotel&Resort. All rights reserved</p>
       </div>
    </footer>
</body>
</html>