<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasySleep</title>
    <link rel="stylesheet" href="/Static/css/reserva.css">
</head>
<body>
    <header>
        <!--BARRA DE MENU-->
        <div class="Contenedor-menu">
            <div class="Barra-Menu">
                <nav>
                    <!--menu-->
                    <ul>
                        <li><p>EasySleep Hotel</p></li>
                        <li><a href="index.html">INICIO</a></li>
                        <li><a href="/Templates/html/register.html">REGISTRO CLIENTE</a></li>
						<li><a href="/Templates/html/reserva.html">RESERVA</a></li>
                        <li><a href="/Templates/html/rooms.html">HABITACIONES</a></li>
						<li><a href="/Templates/html/events.html">EVENTOS</a></li>
                        <li><a href="/Templates/html/contact.html">CONTACTO</a></li>
                    </ul>
                </nav>    
            </div>
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>