<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasySleep</title>
    <link rel="stylesheet" href="/Static/css/rooms.css">
</head>
<body>
    <header>
         <!--BARRA DE MENU-->
            <div class="Contenedor-menu">
                <div class="Barra-Menu">
                    <nav>
                        <ul>
                            <li><p>EasySleep Hotel</p></li>
                            <li><a href="index.html">INICIO</a></li>
                            <li><a href="/Templates/html/register.html">REGISTRO CLIENTE</a></li>
                            <li><a href="/Templates/html/reserva.html">RESERVA</a></li>
                            <li><a href="/Templates/html/rooms.html">HABITACIONES</a></li>
                            <li><a href="/Templates/html/events.html">EVENTOS</a></li>
                            <li><a href="/Templates/html/contact.html">CONTACTO</a></li>
                        </ul>
                    </nav>    
                </div>
            </div>    
    </header>
    <section> 
        <div class="contenedor-rooms">
        <!-- Imagen de la habitacion 1 -->
            <div class="contenedor-tarjeta-rooms">
                <img src="/Static/img/doble1.jpg" alt="doble">
                <div class="contenedor-texto-rooms">
                    <h2>SINGLE | DOBLE</h2><br><br>
                    <p>Las habitaciones tienen vista panoramica a las montañas. Equipadas con cama sommier. Cuenta con aire acondicionado, TV de pantalla plana por cable, minibar, caja fuerte y WI-FI gratis. Baño privado con bañera y secador de cabello.</p>
                    <br><br>
                    <ul>
                        <li><i class="fa-solid fa-tv"></i> TV de pantalla plana</li>
                        <li><i class="fa-regular fa-snowflake"></i> Aire acondicionado</li>
                        <li><i class="fa-solid fa-utensils"></i>  Minibar</li>
                        <li><i class="fa-solid fa-temperature-high"></i> Calefaccion</li>
                        <li><i class="fa-solid fa-wifi"></i> WI-FI</li>
                    </ul><br><br>
                    <div class="boton-rooms">
                        <a href="#" class="btn-rooms">Reservar</a>  
                    </div>

                </div>
            </div>
        </div>
         <script src="https://kit.fontawesome.com/96ca335d68.js" crossorigin="anonymous"></script> 
    </section>

    <section>
        <div class="contenedor-rooms">
            <div class="contenedor-tarjeta-rooms">
                <!-- imagen deka habitacion 2 -->
                <img src="/Static/img/doble-twin1.jpg" alt="doble twin">
                <div class="contenedor-texto-rooms">
                    <h2>DOBLE TWIN</h2><br><br>
                    <p>Estas habitaciones tienen vista hacia los jardines del hotel. Equipadas con camas sommier de una sola plaza. Cuenta con aire acondicionado, TV de pantalla plana por cable, minibar, caja fuerte y WI-FI gratis. Baño privado con bañera y secador de cabello. </p>
                    <br><br>
                    <ul>
                        <li><i class="fa-solid fa-tv"></i> TV de pantalla plana</li>
                        <li><i class="fa-regular fa-snowflake"></i> Aire acondicionado</li>
                        <li><i class="fa-solid fa-utensils"></i> Minibar</li>
                        <li><i class="fa-solid fa-temperature-high"></i> Calefaccion</li>
                        <li><i class="fa-solid fa-wifi"></i> WI-FI</li>
                        </ul><br><br>
                        <div class="boton-rooms">
                            <a href="#" class="btn-rooms">Resevar</a>
                        </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="contenedor-rooms">
            <div class="contenedor-tarjeta-rooms">
                <!--imagen de la habitacion 3  -->
                <img src="/Static/img/triple1.jpg" alt="triple">
                <div class="contenedor-texto-rooms">
                    <h2>TRIPLE</h2><br><br>
                    <p>Estas confortables habitaciones tienen vista panoramica a las montañas. Equipadas con tres camas sommier dbe una plaza. Cuentan con aire acondicionado, TV de pantalla plana por cable, minibar, caja de fuerte y WI-FI gratis. Baño privado con bañera y secador de cabello. </p>
                    <br><br>
                    <ul>
                        <li><i class="fa-solid fa-tv"></i> TV de pantalla plana</li>
                        <li><i class="fa-regular fa-snowflake"></i> Aire acondicionado</li>
                        <li><i class="fa-solid fa-utensils"></i> Minibar</li>
                        <li><i class="fa-solid fa-temperature-high"></i> Calefaccion</li>
                        <li><i class="fa-solid fa-wifi"></i> WI-FI</li>
                    </ul><br><br>
                    <div class="boton-rooms">
                        <a href="#" class="btn-rooms">Reservar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>